<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://kit.fontawesome.com/26d0e8fe26.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Domine&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
		
	<title>Restaurant Layout</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<!--Header-->
		<header>
			<nav>
				<ul>
					<li><a href ="#">Home</a></li>
					<li><a href ="#">About Us</a></li>
					<li><a href ="#">Menu</a></li>
					<li><a href ="#">Order Now</a></li>
					<li><a href ="#">Blog</a></li>
					<li><a href ="#">Location</a></li>
					<li><a href ="#"><i class="fa-solid fa-cart-plus"></i></a></li>
					<li><a href ="#"><i class ="fa-solid fa-magnifying-glass"></i></a></li>
				</ul>
			</nav>
		</header>
		<!--Main-->
		<main>
			<h1>Welcome <br>to Our Cuisine <br>Restaurant</h1>
			<form>
			<input type="search" text="search here" placeholder="search here">
			<span class="location"><a href="#">Location</a></span>
			</form>
			<div class="icons">
			<i class="fab fa-facebook"><span>425k</span></i>
			<i class="fab fa-twitter"><span>56k</span></i>
			<i class="fab fa-instagram"><span>79k</span></i>
			</div>
		</main>

		<!--Sections-->
	<section>
		<section class="about">
			<span class="firstSectionSpan">About Us</span>
			<h2>Discover Our Restaurant Story</h2>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis quia, quo eligendi ipsum, iusto atque animi modi ab eius consequuntur, pariatur numquam delectus aut dolorum error ad et deleniti.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis quia, quo eligendi ipsum, iusto atque animi modi ab eius consequuntur, pariatur numquam delectus aut dolorum error ad et deleniti</p><br>
			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores perspiciatis reprehenderit esse. Molestias dolorum est non! Ducimus laboriosam distinctio, reprehenderit a corporis ab voluptatibus dol.</p>
			<span class="secondSectionSpan"><a href="#">Discover Menu -></a></span>
		</section>

		<section class="cuisine">
			<span class="cuisinespan"><a href="#">Order Online Now</a></span>
			<h2>Our Specialty Cuisine</h2>
			<ul>
				<li>Breakfast</li>
				<li>Lunch</li>
				<li>Dinner</li>
				<li>Dessert</li>
				<li>Shake</li>
			</ul>
			<div class= "row">
				<div class="column">
					<img src="images/restaurantImage4.jpeg" alt="meal 1">
				</div>
				<div class="column">
					<img src="images/restaurantImage5.jpeg" alt="meal 2">
				</div>
				<div class="column">
					<img src="images/restaurantImage6.jpeg" alt="meal 3"> 
				</div>
				<div class="column">
					<img src="images/restaurantImage7.png" alt="meal 4"> 
				</div>
			</div>
		</section>

		<section class="booktable">
			<span class="opening">Book Tables</span>
			<h2>Opening Hours</h2>
			<a href="#"><i class="fa-solid fa-phone"></i></a><br>
			<span>Call Now</span><br>
			<span class="numbers">+12345 678 910</span><br>
			<p id="earlyWeek"><span class="firstPart">Monday to Tuesday</span><br><span class="secondPart">09:00am - 22:00pm</span></p>
			<p class="laterWeek"><span class="thirdPart">Friday to Sunday</span><br><span class="fourthPart">11:00am - 22:00pm</p><br>
				<img src="images/restaurantImage8.png" alt="meal 5">
		</section>
	</section>

	<footer>
		<span class="testimonial">Testimonials</span>
		<h3>Customer Say</h3>
		<img src="images/restaurantImage9.jpeg" alt="male face"><br>
		<span class="name">Michael Brooks</span><br>
		<span class="job">Software Engineer</span><br>
		<i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, assumenda dolorum consequatur molestiae quidem praesentium, distinctio officiis sequi ducimus ipsa asperiores odit voluptas id quis nam enim et, minus a!
		Eveniet nobis fugiat commodi quasi voluptatem at dolor vitae aliquid ab labore delectus maxime esse, sint eius magnam ipsa soluta deleniti tempore magni necessitatibus officiis harum saepe. Nostrum, adipisci sit!
		Ut voluptates quas sit praesentium nam deleniti quae fugit!</p>
	

	</footer>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>

